@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
* {
  box-sizing: border-box; }

body {
  background-color: #fff;
  font-family: Montserrat; }

.text-white {
  color: #fff !important; }

.container {
  margin: 0 auto;
  position: relative;
  max-width: 100%;
  width: 960px;
  z-index: 2; }

.hero {
  background-attachment: fixed;
  background-image: url(https://aceleradev-react.netlify.com/aula-01/public/img/capa-madmax2.jpg);
  background-size: cover;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  height: 90vh;
  flex-direction: column;
  justify-content: space-between; }
  .hero:after {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 212, 255, 0) 75%);
    content: "";
    height: 90vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  .hero .hero-menu {
    z-index: 2;
    display: flex;
    padding-top: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 0.8em; }
    .hero .hero-menu .menu ul {
      display: flex;
      align-items: center; }
      .hero .hero-menu .menu ul li {
        text-transform: uppercase;
        color: white;
        list-style: none;
        padding: 0 20px; }
    .hero .hero-menu .container {
      align-items: center;
      display: flex;
      justify-content: space-between; }
  .hero .profile {
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    .hero .profile .profile-image {
      margin-right: 15px; }
    .hero .profile img {
      width: 50px;
      border-radius: 100px; }
  .hero .hero-content a {
    display: block;
    padding: 20px 0 10px 0; }
  .hero .hero-content .hero-content-title {
    color: #fff;
    font-size: 4.5em;
    font-weight: bold;
    line-height: 1.2em;
    margin: 0;
    text-transform: uppercase; }
  .hero .hero-content .hero-genero {
    margin-bottom: 30px; }
    .hero .hero-content .hero-genero .hero-genero-item {
      color: #fff;
      text-decoration: none;
      margin-right: 15px;
      text-transform: uppercase;
      font-size: 13px; }
  .hero .hero-content .hero-button {
    display: inline-block;
    padding: 15px 50px;
    color: #000;
    font-size: 1em;
    text-decoration: none;
    background-color: #e4bb23;
    border-radius: 40px; }
    .hero .hero-content .hero-button:hover {
      background-color: #bc9a1d; }
    .hero .hero-content .hero-button i {
      position: relative;
      font-size: 20px;
      left: 12px;
      top: 2px; }
  .hero .hero-content .hero-informacoes {
    margin-bottom: 50px; }
    .hero .hero-content .hero-informacoes p {
      font-size: 0.9em; }
      .hero .hero-content .hero-informacoes p:first-of-type {
        margin-top: 30px;
        margin-bottom: 20px; }
      .hero .hero-content .hero-informacoes p:last-of-type {
        color: #bc9a1d; }

.categoria-menu-lista {
  margin: 30px 0 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  font-weight: bold; }
  .categoria-menu-lista ul {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 0.8em;
    margin-bottom: 25px; }
    .categoria-menu-lista ul li {
      list-style: none; }
      .categoria-menu-lista ul li a {
        text-decoration: none;
        margin: 0 20px;
        color: #e4bb23;
        padding: 25px 0; }
        .categoria-menu-lista ul li a:hover {
          box-shadow: inset 0 -1px 0 #e4bb23; }

.movies {
  display: flex;
  justify-content: space-between;
  flex-direction: row; }
  .movies .movie {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    overflow: hidden;
    width: 24%; }
    .movies .movie figure {
      margin: 0;
      width: 100%;
      height: auto;
      overflow: hidden;
      position: relative; }
      .movies .movie figure img {
        width: 100%;
        height: auto; }
    .movies .movie .movie-poster-info {
      align-items: center;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      left: 0;
      opacity: 0;
      padding: 80px 20px;
      position: absolute;
      text-align: center;
      top: 0;
      transition: all 0.2s ease-in-out;
      visibility: hidden;
      width: 100%;
      z-index: 1; }
      .movies .movie .movie-poster-info span {
        color: #e4bb23;
        font-size: 1.2em;
        line-height: 1em;
        text-transform: uppercase; }
      .movies .movie .movie-poster-info i {
        color: #fff;
        font-size: 5em;
        transition: all 0.2s ease-in-out; }
    .movies .movie .movie-poster-info:hover {
      opacity: 1;
      visibility: visible; }
    .movies .movie .movie-info {
      padding: 10px;
      width: 100%; }
      .movies .movie .movie-info .movie-titulo, .movies .movie .movie-info .movie-categoria {
        display: block; }
      .movies .movie .movie-info .movie-titulo {
        font-size: 1.3em;
        font-weight: bold;
        margin: 0;
        text-transform: uppercase; }
      .movies .movie .movie-info .movie-categoria:hover {
        text-decoration: underline; }
      .movies .movie .movie-info .movie-nota {
        margin: 0;
        align-items: center;
        display: flex;
        font-size: 1.2em;
        font-weight: bold;
        justify-content: space-between; }

/*# sourceMappingURL=style.css.map */
