@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: Montserrat;
}

.text-white {
  color: #fff !important;
}

.container {
  margin: 0 auto;
  position: relative;
  max-width: 100%;
  width: 960px;
  z-index: 2;
}

.hero {
  background-attachment: fixed;
  background-image: url(https://aceleradev-react.netlify.com/aula-01/public/img/capa-madmax2.jpg);
  background-size: cover;
  width: 100%;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero:after {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), color-stop(75%, rgba(0, 212, 255, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 212, 255, 0) 75%);
  content: "";
  height: 90vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.hero .hero-menu {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 0.8em;
}

.hero .hero-menu .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero-menu .menu ul li {
  text-transform: uppercase;
  color: white;
  list-style: none;
  padding: 0 20px;
}

.hero .hero-menu .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.hero .profile .profile-image {
  margin-right: 15px;
}

.hero .profile img {
  width: 50px;
  border-radius: 100px;
}

.hero .hero-content a {
  display: block;
  padding: 20px 0 10px 0;
}

.hero .hero-content .hero-content-title {
  color: #fff;
  font-size: 4.5em;
  font-weight: bold;
  line-height: 1.2em;
  margin: 0;
  text-transform: uppercase;
}

.hero .hero-content .hero-genero {
  margin-bottom: 30px;
}

.hero .hero-content .hero-genero .hero-genero-item {
  color: #fff;
  text-decoration: none;
  margin-right: 15px;
  text-transform: uppercase;
  font-size: 13px;
}

.hero .hero-content .hero-button {
  display: inline-block;
  padding: 15px 50px;
  color: #000;
  font-size: 1em;
  text-decoration: none;
  background-color: #e4bb23;
  border-radius: 40px;
}

.hero .hero-content .hero-button:hover {
  background-color: #bc9a1d;
}

.hero .hero-content .hero-button i {
  position: relative;
  font-size: 20px;
  left: 12px;
  top: 2px;
}

.hero .hero-content .hero-informacoes {
  margin-bottom: 50px;
}

.hero .hero-content .hero-informacoes p {
  font-size: 0.9em;
}

.hero .hero-content .hero-informacoes p:first-of-type {
  margin-top: 30px;
  margin-bottom: 20px;
}

.hero .hero-content .hero-informacoes p:last-of-type {
  color: #bc9a1d;
}

.categoria-menu-lista {
  margin: 30px 0 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  font-weight: bold;
}

.categoria-menu-lista ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-size: 0.8em;
  margin-bottom: 25px;
}

.categoria-menu-lista ul li {
  list-style: none;
}

.categoria-menu-lista ul li a {
  text-decoration: none;
  margin: 0 20px;
  color: #e4bb23;
  padding: 25px 0;
}

.categoria-menu-lista ul li a:hover {
  -webkit-box-shadow: inset 0 -1px 0 #e4bb23;
          box-shadow: inset 0 -1px 0 #e4bb23;
}

.movies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

.movies .movie {
  background-color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
  overflow: hidden;
  width: 24%;
}

.movies .movie figure {
  margin: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.movies .movie figure img {
  width: 100%;
  height: auto;
}

.movies .movie .movie-poster-info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  opacity: 0;
  padding: 80px 20px;
  position: absolute;
  text-align: center;
  top: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  width: 100%;
  z-index: 1;
}

.movies .movie .movie-poster-info:hover {
  opacity: 1;
  visibility: visible;
}

.movies .movie .movie-poster-info span {
  color: #e4bb23;
  font-size: 1.2em;
  line-height: 1em;
  text-transform: uppercase;
}

.movies .movie .movie-poster-info i {
  color: #fff;
  font-size: 5em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.movies .movie .movie-info {
  padding: 10px;
  width: 100%;
}

.movies .movie .movie-info .movie-categoria {
  display: block;
  text-decoration: none;
  color: #e4bb23;
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 0.8em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.movies .movie .movie-info .movie-categoria:hover {
  text-decoration: underline;
}

.movies .movie .movie-info .movie-titulo {
  font-size: 0.9em;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

.movies .movie .movie-info .movie-titulo:hover {
  text-decoration: none;
}

.movies .movie .movie-info .movie-nota {
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2em;
  font-weight: bold;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.movies .movie .movie-info .movie-nota i {
  color: #ccc;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.movies .movie .movie-info .movie-nota i:hover {
  color: #e74c3c;
}

.rodape {
  background-color: #efefef;
  color: #bababa;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.rodape .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rodape .rodape-lista {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rodape .rodape-lista-item {
  margin: 0 20px;
}

.rodape .rodape-lista-item:last-child {
  margin-right: 0;
}

.rodape .rodape-lista-item a {
  font-size: 1.5em;
  color: #bababa;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.rodape .icone-twitter a:hover {
  color: #55acee;
}

.rodape .icone-facebook a:hover {
  color: #3b5998;
}

.rodape .icone-instagram a:hover {
  color: #e95950;
}
/*# sourceMappingURL=style.css.map */